{% extends 'base.html' %}
{% block title %}{{post.title}} - Kurt's Blog {% endblock %}
{% block content %}


<a href="{% url 'main' %}">Main Page</a>
{% if user.is_authenticated %}
{% if user.id == post.author.id %}
<a href="{% url 'edit_post' post.pk %}">Edit Post</a>
<a href="{% url 'delete_post' post.pk %}">Delete Post</a>
{% endif %}
{% endif %}


<h3>{{ post.title }}
    - {{ post.author }}</h3>
<h6> {{ post.date }}</h6>
<h6>{{ post.body|safe }}</h6>

<h3>Comments</h3>

{% if not post.comment_post.all %}
No Comments <br><a href='#'>Post a New Comment</a>
{% else %}

{% for blogcomment in post.comment_post.all %}
<h5>{{ blogcomment.comment }}</h5>
<h6>- {{ blogcomment.user }} - {{ blogcomment.date }}</h6>
<br>
{% endfor %}

{% endif %}

{% endblock %}