{% extends 'base.html' %}
{% block title %}{{post.title}} - Kurt's Blog {% endblock %}
{% block content %}

<h1>{{ post.title }}</h1>
<br>
<h6>{{ post.body|safe }}</h6>
<hr size="5" width="100%">
<h6 class='text-center'>{{ post.date }} | by {{ post.author }} | Category: <a class="btn btn-sm btn-outline-info"
        href="{% url 'category' post.category|slugify %}" role="button">
        {{ post.category }}</a>
</h6>

{% if user.is_authenticated %}
{% if user.id == post.author.id %}
<div class='text-center'>
    <div class="btn-group" role="group" aria-label="Basic example">
        <a class="btn btn-sm btn-primary" href="{% url 'main' %}" role="button">Main Page</a>
        <a class="btn btn-sm btn-warning" href="{% url 'edit_post' post.pk %}" role="button">Edit Post</a>
        <a class="btn btn-sm btn-danger" href="{% url 'delete_post' post.pk %}" role="button">Delete Post</a>
    </div>
</div>
{% endif %}
{% else %}
<div class='text-center'>
    <a class="btn btn-sm btn-primary" href="{% url 'main' %}" role="button">Main Page</a>
</div>
{% endif %}
<br>
<br>
<hr size="3" width="100%">

{% if not post.comment_post.all %}
<h5>No Comments!!! - <a href="{% url 'create_comment' post.pk%}">Post a New Comment</a></h5>
{% else %}
<h5><u>Comments</u> - <a href="{% url 'create_comment' post.pk%}">Post a New Comment</a></h5>
<br>
{% for blogcomment in post.comment_post.all %}
<h5>
    <li>{{ blogcomment.comment }}</li>
</h5>
<h6>- {{ blogcomment.user }} [{{ blogcomment.date }}]</h6>
<br>
{% endfor %}

{% endif %}

{% endblock %}